body {
	background-color:#000000;
	font-family:"Arial";
	font-style:normal;
	color:white;
	font-size:15px;
}

a:link,visited ,active {
	color:#e0e0e0;
	text-decoration:none;
}

a:visited  {
	color:#e0e0e0;
	text-decoration:none;
}

a:hover {
	color:#ffffff;
}

#layer {
	width:900px;
	background-color:#01165d;
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -450px;

}

section {
	padding:30px;
}

header {
	font-style:italic;
	font-size:50px;
	padding:10px;
}

footer {
	background-color:#000000;
	font-style:italic;
	font-size:12px;
	text-align:right;
	color:#e0e0e0;
	clear:both;
	word-spacing:20px;
	padding:5px;
}

footer li {
	display:inline;
}
